.gray-50    { color: #ffffff; }
.gray-75    { color: #fafafa; }
.gray-100   { color: #f5f5f5; }
.gray-200   { color: #eaeaea; }
.gray-300   { color: #e1e1e1; }
.gray-400   { color: #cacaca; }
.gray-500   { color: #b3b3b3; }
.gray-600   { color: #8e8e8e; }
.gray-700   { color: #6e6e6e; }
.gray-800   { color: #4b4b4b; }
.gray-900   { color: #2c2c2c; }

.bg-gray-50    { background-color: #ffffff; }
.bg-gray-75    { background-color: #fafafa; }
.bg-gray-100   { background-color: #f5f5f5; }
.bg-gray-200   { background-color: #eaeaea; }
.bg-gray-300   { background-color: #e1e1e1; }
.bg-gray-400   { background-color: #cacaca; }
.bg-gray-500   { background-color: #b3b3b3; }
.bg-gray-600   { background-color: #8e8e8e; }
.bg-gray-700   { background-color: #6e6e6e; }
.bg-gray-800   { background-color: #4b4b4b; }
.bg-gray-900   { background-color: #2c2c2c; }

.blue-400   { color: #2680eb; }
.blue-500   { color: #1473e6; }
.blue-600   { color: #0d66d0; }
.blue-700   { color: #095aba; }

.bg-blue-400   { background-color: #2680eb; }
.bg-blue-500   { background-color: #1473e6; }
.bg-blue-600   { background-color: #0d66d0; }
.bg-blue-700   { background-color: #095aba; }

.red-400   { color: #e34850; }
.red-500   { color: #d7373f; }
.red-600   { color: #c9252d; }
.red-700   { color: #bb121a; }

.bg-red-400   { background-color: #e34850; }
.bg-red-500   { background-color: #d7373f; }
.bg-red-600   { background-color: #c9252d; }
.bg-red-700   { background-color: #bb121a; }

.orange-400   { color: #e68619; }
.orange-500   { color: #da7b11; }
.orange-600   { color: #cb6f10; }
.orange-700   { color: #bd640d; }

.bg-orange-400   { background-color: #e68619; }
.bg-orange-500   { background-color: #da7b11; }
.bg-orange-600   { background-color: #cb6f10; }
.bg-orange-700   { background-color: #bd640d; }

.green-400   { color: #2d9d78; }
.green-500   { color: #268e6c; }
.green-600   { color: #12805c; }
.green-700   { color: #107154; }

.bg-green-lighter { background-color: #dff8d9; }
.bg-green-light { background-color: #d4eccd; }
.bg-green-400   { background-color: #2d9d78; }
.bg-green-500   { background-color: #268e6c; }
.bg-green-600   { background-color: #12805c; }
.bg-green-700   { background-color: #107154; }

.indigo-400   { color: #6767ec; }
.indigo-500   { color: #5c5ce0; }
.indigo-600   { color: #5151d3; }
.indigo-700   { color: #4646c6; }

.bg-indigo-400   { background-color: #6767ec; }
.bg-indigo-500   { background-color: #5c5ce0; }
.bg-indigo-600   { background-color: #5151d3; }
.bg-indigo-700   { background-color: #4646c6; }

.celery-400   { color: #44b556; }
.celery-500   { color: #3da74e; }
.celery-600   { color: #379947; }
.celery-700   { color: #318b40; }

.bg-celery-400   { background-color: #44b556; }
.bg-celery-500   { background-color: #3da74e; }
.bg-celery-600   { background-color: #379947; }
.bg-celery-700   { background-color: #318b40; }

.magenta-400   { color: #d83790; }
.magenta-500   { color: #ce2783; }
.magenta-600   { color: #bc1c74; }
.magenta-700   { color: #ae0e66; }

.bg-magenta-400   { background-color: #d83790; }
.bg-magenta-500   { background-color: #ce2783; }
.bg-magenta-600   { background-color: #bc1c74; }
.bg-magenta-700   { background-color: #ae0e66; }

.yellow-400   { color: #dfbf00; }
.yellow-500   { color: #d2b200; }
.yellow-600   { color: #c4a600; }
.yellow-700   { color: #b79900; }

.bg-yellow-400   { background-color: #dfbf00; }
.bg-yellow-500   { background-color: #d2b200; }
.bg-yellow-600   { background-color: #c4a600; }
.bg-yellow-700   { background-color: #b79900; }


.fuchsia-400   { color: #c038cc; }
.fuchsia-500   { color: #b130bd; }
.fuchsia-600   { color: #a228ad; }
.fuchsia-700   { color: #93219e; }

.bg-fuchsia-400   { background-color: #c038cc; }
.bg-fuchsia-500   { background-color: #b130bd; }
.bg-fuchsia-600   { background-color: #a228ad; }
.bg-fuchsia-700   { background-color: #93219e; }

.seafoam-400   { color: #1b959a; }
.seafoam-500   { color: #16878c; }
.seafoam-600   { color: #0f797d; }
.seafoam-700   { color: #096c6f; }

.bg-seafoam-400   { background-color: #1b959a; }
.bg-seafoam-500   { background-color: #16878c; }
.bg-seafoam-600   { background-color: #0f797d; }
.bg-seafoam-700   { background-color: #096c6f; }

.chartreuse-400   { color: #85d044; }
.chartreuse-500   { color: #7cc33f; }
.chartreuse-600   { color: #73b53a; }
.chartreuse-700   { color: #6aa834; }

.bg-chartreuse-400   { background-color: #85d044; }
.bg-chartreuse-500   { background-color: #7cc33f; }
.bg-chartreuse-600   { background-color: #73b53a; }
.bg-chartreuse-700   { background-color: #6aa834; }

.purple-400   { color: #9256d9; }
.purple-500   { color: #864ccc; }
.purple-600   { color: #7a42bf; }
.purple-700   { color: #6f38b1; }

.bg-purple-400   { background-color: #9256d9; }
.bg-purple-500   { background-color: #864ccc; }
.bg-purple-600   { background-color: #7a42bf; }
.bg-purple-700   { background-color: #6f38b1; }

